<div class="col-md-12">
    <p class="text-right" style="font-size:20px;cursor:pointer">
        <span id="refresh" class="label label-warning"><i class="fa fa-refresh"></i></span>
    </p>
</div>
<canvas id="myChart" style="width:300"></canvas>


<script src="/chart.js/Chart.bundle.min.js"></script>

<% 
        var date = JSON.stringify(result.date); 
        var failedTrue = JSON.stringify(result.failedTrue); 
        var trippedTrue = JSON.stringify(result.trippedTrue);  
%>
<script>

    var canvas = document.getElementById("myChart");
    var ctx = canvas.getContext('2d');

    // Global Options:
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 16;

    var data = {
        labels: <%- date %>, //["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [ 
            {
                label: "Failed True",
                fill: false,
                lineTension: 0.1,
                //   backgroundColor: "#fff",
                borderColor: "#f0ad4e",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "white",
                pointBackgroundColor: "black",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "#f0ad4e",
                pointHoverBorderColor: "#eea236",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: false
                data: <%- failedTrue %>, //[10, 20, 60, 95, 64, 78, 90, 55,70,40,70,89],
                spanGaps: true,
            },
            {
                label: "Tripped True",
                fill: false,
                lineTension: 0.1,
                //   backgroundColor: "#fff",
                borderColor: "#d9534f", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "#d9534f",
                pointHoverBorderColor: "#d43f3a",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: true
                data: <%- trippedTrue %>, //[65, 59, 80, 81, 56, 55, 40, 55 ,60,55,30,78],
                spanGaps: true,
            }
        
        ]
    };

    // Notice the scaleLabel at the same level as Ticks
    var options = {
    scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                        display: true,
                        labelString: 'Request Tripped and Failed',
                        fontSize: 20 
                    }
            }]            
        }  
    };

    // Chart declaration:
    var myBarChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
    });

</script>
